@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;

  --color-accent-50: #fdf4ff;
  --color-accent-500: #d946ef;
  --color-accent-600: #c026d3;

  --color-success-50: #f0fdf4;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;

  --color-warning-50: #fffbeb;
  --color-warning-500: #eab308;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 antialiased selection:bg-primary-500 selection:text-white;
  }
}
